@model IEnumerable<YAZLAB2.Models.Antrenor>

@{
    ViewData["Title"] = "Eslesmeler";
    Layout = "_DanisanLayout";
}

<h1>Eslesmeler</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adsoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uzmanliklar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deneyim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iletisim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.adsoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uzmanliklar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deneyim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iletisim)
            </td>
            <td>
                <a asp-action="eslestir" asp-route-id="@item.id">eslestir</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
